html {
  background: url(images/JulesHead.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.box {
  display: block;
  width:  750px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.gray {
  display: block;
  color: #DDDDDD;
  width: 100%;
  height: 20%;

}